 <footer  id="footer" class="site-footer">
  <div>
    <figure>
      <a href="https://www.facebook.com/profile.php?id=100071760025096"><img src="/assets/blog/facebook.png" alt="Facebook Page"></a>
    </figure>
    <figure>
      <a href="https://wa.me/+2347086862109"><img src="/assets/blog/whatsapp.png" alt="Whatsapp Page"></a>
    </figure>
    <figure>
      <a href="#"><img src="/assets/blog/instagram.png" alt="Instagram Page"></a>
    </figure>
    <figure>
      <a href="#"><img src="/assets/blog/twitter.png" alt="Facebook Page"></a>
    </figure>
    <figure>
      <a href="mailto:mayowayusuf3004@gmail.com"><img src="/assets/blog/email.png" alt="Mail"></a>
    </figure>

  </div>
  <p>© Craennie 2022. All rights reserved.</p>
</footer>

<script>
var myNav = document.querySelector(".page-header")

window.onscroll = function(){
    if (document.body.scrollTop >= 200 || document.documentElement.scrollTop >= 200){
        myNav.style.backgroundColor = "#333"
    }else{
        myNav.style.backgroundColor = "crimson"
    }
}
</script>